Disallow underscores in site URLs/names

From [RFC 1738](https://www.ietf.org/rfc/rfc1738.txt)
>Fully qualified domain names take the form as described
        in Section 3.5 of RFC 1034 [13] and Section 2.1 of RFC 1123
        [5]: a sequence of domain labels separated by ".", each domain
        label starting and ending with an alphanumerical character and
        possibly also containing "-" characters. 

By the RFC, `_` are disallowed in domain labels, hence Director should not support `_` in site URLs.